body {
  background-color: #f4f8ff;
}

h1 {
  font-size: 100px;
  font-family: Palatino Linotype, Palatino, serif;
  color: #2e69a3;
  margin: 0px 0px 2px 0px;
  padding: 0px 0px 2px 0px;
  border-bottom: 3px solid #999;
  /*box-shadow: 10px 10px 5px rgb(216,218,190);*/
}

h2 {
  margin: 10px;
} 

/*p {
color: rgb(216,218,190);
font-family: Helvetica, sans-serif;
background: red;
}*/

.contact {
  color: #2e69a3;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 1px 0px 2px 0px;
  padding: 0px;
}  

.pic {
  float: right;
  /*width: 294px;*/
  padding: 10px 10px 10px 10px;
  transform: rotate(8deg);
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.section-title {
  font-family: Palatino Linotype, Palatino, serif;
  font-size: 40px;
  color: #2e69a3;
  margin: 1px 0px 2px 0px;
  padding: 0px;
  border-bottom: 1px solid rgb(216,218,190);
}

.experience-detail {  
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  color: #2e69a3;
  padding: 0px;
  margin: 0px;
}

.job-date-line {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  color: #2e69a3;
}

.date {
  float: right;
}

.lists {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
}

