body {
  background-color: #f4f8ff;
}

p {
color: rgb(216,218,190);
font-family: Helvetica, sans-serif;
}
  
h1 {
  font-size: 100px;
  font-family: Garamond, serif;
  color: #2e69a3;
  border-bottom-style: 3px, double, rgb(216,218,190) ;
  box-shadow: 10px 10px 5px rgb(216,218,190);
  }

.section-title {
  font-family: Garamond, serif;
  font-size: 40px;
  color: #2e69a3;
  border-bottom-style: 3px, double, rgb(216,218,190) ;
  box-shadow: 10px 10px 5px rgb(216,218,190);
}
