p {
color: rgb(216,218,190);
}

h1 {
  font-size: 100px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #2e69a3;
}

.div {
  font-family: Helvetica, sans-serif;
  font-size: 65px;
  color: #2e69a3;
}
